body {
	margin: 0;
}
#root {
	width: 100%;
	height: 100%;
}
#main-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#wrapper {

	height: 80%;
	width: 80%;
	margin: -4% 0% 5% 12%;
	padding: 0;
}

#container {
	float: left;
	height: 100%; 
	width: 55%; 
	margin-top: 5%;
}
#info {
	float: left;
	width: 25%;
	padding-left: 2%;
	margin: 5% 0 0 0;
	border-left: 1px solid silver;
}
#info h2 {
	display: inline;
}
#info .f32 .flag {
	vertical-align: bottom !important;
}
#info h4 {
	margin: 1em 0 0 0;
}

#controllers{
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-left: 11.5%;
}
input {
	width: 120px;
	height: 40px;
	border-radius: 15px;
	background-color: #848080;
	color: white;
	border: 1px solid silver;
	text-align: center;
	font-size: 15px;
	font-family: 'Roboto';
}

.input-left {
	margin-left: 1%;
}


#map {
	background-color: #3498db;
}
input:hover {
	cursor: pointer;
	background-color: #3498db;
}
input:active{
	transform: scale(1.1);
}
#selection{
	align-self: center;
	margin-left:25%
}
#choice {
	border: 1px solid silver;
	width: 130px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}



